:root {
    overflow-x: hidden;
}

.content {
    height: auto;
    display: flex;
    position: relative;
}

.content .text {
    left: 0;
    margin: 30px;
    width: 50%;
}

.content .text h1 {
    font-size: 80px;
    margin-bottom: 100px;
    font-weight: 400;
}

.content .text h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 100;
}

.content .text h3 {
    font-size: 40px;
    left: 220px;
}

.text div div {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 10px;
    min-width: 250px;
}

@media (prefers-color-scheme: dark) {
    .text div div {
        border: 1px solid white;
    }
}

.content .text span {
    left: 220px;
}

.content .images {
    width: 550px;
    position: absolute;
    right: 0;
    margin-right: 0px;
}

.content .images img {
    width: 490px;
    margin-top: 20px;

    border: 2px solid black;
    border-radius: 20px;
}

@media (max-width: 1235px) {

    .content .images {
        width: 425px;
    }

    .content .images img {
        width: 400px;
    }

    @media (max-width: 980px) {
        .content .images {
            width: 275px;
        }
        .content .images img {
            width: 250px;
        }

        @media (max-width: 695px) {

            .content .images {
                width: 235px;
            }

            .content .images img {
                width: 225px;
            }

            @media (max-width: 650px) {

                .content {
                    border: 0;
                    margin: 0;
                    position: absolute;
                    display: block;
                    width: 100%;
                }

                .content .text {
                    margin-left: auto;
                    margin-right: auto;
                    position: absolute;
                    display: block;
                    width: 100%;
                }
                
                .content .text div div {
                    margin: 20px;
                }

                .content .text h1,h2 {
                    text-align: center;
                }

                .content .images {
                    display: none;
                }

                @media (max-width: 420px) {
                    .content .text h1 {
                        font-size: 40px;
                        line-height: 20px;
                        font-weight: 3px;
                    }
                }

                /*.content .images {
                    display: table;
                    position: absolute;
                    width: 100vw;
                    margin: 0px;
                    left: auto;
                    right: auto;
                }

                .content .images img {
                    width: calc(100vw - 70px);
                    display: none;
                    margin-left: auto;
                    margin-right: auto;
                }*/
            }
        }
    }
}