.content {
    height: calc(100% - 215px);
}

.content .text {
    text-align: left;
    margin: 30px;
    width: 40%;
    position: absolute;
    top: calc(325px + 100vw * 0.1); /*500px;/*50%;*/
    transform: translateY(-50%);
}

@media (max-height: 630px) {
    .content .text {
        transform: translateY(-65%);
    }
}

.content .text span {
    line-height: 30px;
}

.content .text h1 {
    line-height: 50px;
}

body { /* Disable Scrolling because of p5js*/
    overflow: hidden;
    user-select: none;
    touch-action: none;
    -webkit-user-select: none;
}

#legal {
    font-size: 12px;
    margin-top: -5px;
    margin-left: 25px;
    word-break: keep-all;
    display: inline-block;
}

#legal a {
    color: black;
}

.content button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: right;
    transition: all 200ms;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.content button:hover {
    background-color: rgba(51, 51, 51 0.1);
}

@media (prefers-color-scheme: dark) {
    #legal a {
        color: white;
    }

    .content button {
        color: white;
    }
}

@media (max-width: 544px) {

    #legal {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .content button {
        display: none;
    }

    @media (max-width: 300px) {
        .content .text h1 {
            font-size: 40px;
        }
    }
}