.content .text {
    text-align: left;
    margin: 30px;
    width: 70%;
    position: absolute;
    top: calc(325px + 100vw * 0.1);/*500px;/*50%;*/
    transform: translateY(-50%);
}

body { /* Disable Scrolling because of p5js*/
    user-select: none;
    touch-action: none;
    -webkit-user-select: none;
}

.content {
    height: calc(100% - 200px);
}

@media (max-height: 550px) {
    .content .text {
        top: calc(225px + 100vw * 0.1);
    }
}

#legal {
    font-size: 13px;
    margin-top: -10px;
    margin-left: 30px;
    word-break: keep-all;
    display: inline-block;
}

#legal a {
    color: black;
}

@media (max-width: 544px) {

    #legal {
        font-size: 12px;
    }
}