.content .text {
    text-align: left;
    margin: 30px;
    width: 40%;
    position: absolute;
    top: calc(325px + 100vw * 0.1);/*500px;/*50%;*/
    transform: translateY(-50%);
}

body { /* Disable Scrolling because of p5js*/
    user-select: none;
    touch-action: none;
    -webkit-user-select: none;
}

.content {
    height: calc(100% - 215px);
}

@media (max-height: 600px) {
    .content .text {
        top: calc(225px + 100vw * 0.1);
    }
}

#description {
    font-size: 18px;
    margin-top: -25px;
    margin-left: 30px;
    word-break: keep-all;
    display: inline-block;
}

#legal {
    font-size: 12px;
    margin-top: -5px;
    margin-left: 0px;
    word-break: keep-all;
    display: absolute;
}

#legal a {
    color: black;
}

@media (max-width: 544px) {

    #description {
        font-size: 0px;
    }

    #legal {
        font-size: 12px;
    }
}